/* Estilos base */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #F5F5F5;
  color: #2C2C2C;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h1 {
  color: #007BFF;
  margin-bottom: 20px;
}

form, .menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  margin: 0 auto;
}

input:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  background-color: #007BFF;
  color: #FFFFFF;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #D1D1D1;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.5em;
  }

  input, button {
    font-size: 1em;
  }

  .student-entry div,
  .student-entry input,
  .student-entry button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .attendance-options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;
  }

  input, button {
    font-size: 0.9em;
  }

  button {
    padding: 8px;
  }
}
